.container {
    margin: auto;
    width: 90%;
    padding: 10px;
    justify-content: center;
    align-content: center;
}
.title{
    border-top:gray solid 1px;
    text-align: center;
    padding-top:10px ;
}
.para {
    text-align: center
}


/* /////////////////////////////////////////rick */

.list{
    display: flex;
    width: 100%;
    
}
h3{
    text-align: center;
}
img {
    width: 100%;
}
#div0,#div1,#div2,#div3,#div4{
    width: 20%;
    margin: 0 7px;
    box-shadow:2px 2px;;
    align-content: center;
    border: gray solid .5px;
}

